<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- 引入属性配置文件 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/mongodb.properties</value>
				<value>classpath:config/jdbc.properties</value>
				<value>classpath:config/mq.properties</value>
				<value>classpath:config/redis.properties</value>
				<value>classpath:config/zookeeper.properties</value>
			</list>
		</property>
	</bean>
	<!-- 扫描注解 -->
	<context:component-scan base-package="org.base">
		<!-- 过滤controll层 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!-- 引入SPRING配置文件 -->
	<import resource="spring/spring-mongodb.xml" />

	<!-- 数据库1 -->
	<import resource="spring/db/datasource.xml" />
	<import resource="spring/db/mybatis-spring.xml" />

	<!-- 数据库2 -->
	<import resource="spring/db_t/datasource.xml" />
	<import resource="spring/db_t/mybatis-spring.xml" />
	<!-- 事务配置 -->
	<import resource="spring/transaction/mysqlTransaction.xml" />
	<import resource="spring/transaction/distributedTransaction.xml" />

	<!-- active mq -->
	<import resource="spring/spring-activemq.xml" />
	<!-- redis -->
	<import resource="spring/spring-redis.xml" />
	<!-- aop -->
	<import resource="spring/spring-aop.xml" />
	<!-- spring timer -->
	<import resource="spring/timer/spring-timer.xml" />
	<!-- quratz -->
	<import resource="spring/timer/spring-quratz.xml" />
</beans>