<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jdbc
       http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 配置本地数据源的sessionFactory，并进行mapper扫描 -->
	<!-- <bean id="localSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<property name="dataSource" ref="localDataSource" /> <property name="mapperLocations" 
		value="classpath*:com/simpleSell/mappert/*.xml" /> </bean> -->

	<bean id="localSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="localDataSource" />
		<!-- <property name="dataSource" ref="dataSourceA" /> -->
		<property name="mapperLocations">
			<array>
				<value>classpath:org/base/dao/mapper/*.xml</value>
			</array>
		</property>
		<property name="typeAliasesPackage" value="org.base.dao.entity" />
		<!-- 分页插件 -->
		<!-- <property name="plugins"> <array> <bean class="com.github.pagehelper.PageHelper"> 
			<property name="properties"> <value> dialect=mysql </value> </property> </bean> 
			</array> </property> -->
	</bean>


	<bean id="localSqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="localSqlSessionFactory" />
	</bean>
	<!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> <property 
		name="basePackage" value="com.simpleSell.dao" /> <property name="sqlSessionFactoryBeanName" 
		value="localSqlSessionFactory" /> </bean> -->

	<bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.base.dao" />
		<property name="sqlSessionFactoryBeanName" value="localSqlSessionFactory" />
		<property name="properties">
			<value>
				mappers=tk.mybatis.mapper.common.Mapper
			</value>
		</property>
	</bean>

</beans>